*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}

:root{
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

body{
    width: 100vw;
    height: 100vh;
    background: url(images/bg-desktop.png) no-repeat bottom, var(--VeryDarkBlue);
    background-size: 100%;
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    border-radius: 1rem;
    align-items: flex-end;
    transform: translate(0%,-50%);
    box-shadow: 32px 31px 44px var(--VeryDarkBlue);
    margin: 16px;
}

.icons{
    background: var(--DarkBlue);
    padding: 21.7px 81.6px 40px 20px;
    border-radius: 1rem 5.6rem 1rem 1rem;
    margin-right: 1rem;
}
.storage{
    background: var(--DarkBlue);
    padding: 10px 40px 20px 10px;
    border-radius: 1rem;
    min-height: 5em;
    box-sizing: border-box;
    padding: 23.6px 26px;
    width: 100%;
    position: relative;
}

.foldericon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6em;
    min-width: 2em;
    height: 25px;
}

.foldericon img{
    background-color: var(--VeryDarkBlue);
    border-radius: 0.2em;
    padding: 0.5em;
    min-height: 100%;
    margin: 0.3em;
}

.storage h3{
    font-weight: 300;
    padding-bottom: 20px;
}

.storage h3 span{
    font-weight: 800;
}

.right{
    position: absolute;
    right: 26px;
    top: -52px;
    background-color: white;
    border-radius: 0.6em;
    padding: 1em;
}

p[style] span{
    color: black;
    font-size: 32px;
    font-weight: 800;
}

.border{
    min-width: 0;
    color: black;
    position: absolute;
    bottom: -26.5px;
    right: 0;
    min-height: 0;
    border: 28.6px solid transparent;
    border-right: 25.4px solid white;
}
progress{
    width: 25rem;
    max-width: 25rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    padding: 2px;
    background: var(--VeryDarkBlue);
}
progress::before {
    content: '';
    position: relative;
    min-height: 0.7em ;
    top: 23.6em;
    left: 40.9em;
    margin-top: -1em;
    min-width: 0.7em;
    background: white;
    border-radius: 50px;
  }

progress::-webkit-progress-bar{
    background-color: var(--VeryDarkBlue);
    border-radius: 50px;
}
progress::-moz-progress-bar{
    background: var(--gradient);
    border-radius: 50px;
}

progress::-webkit-progress-value{
    background: var(--gradient);
    border-radius: 50px;
}

.labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:800px){
    section{
        display: initial;
        transform: translate(0%,-50%);
        box-shadow: 32px 31px 44px var(--VeryDarkBlue);
    }
    .icons{
        background: var(--DarkBlue);
        padding: 21.7px;
        border-radius: 1rem 1rem 0 0;
        text-align: center;
        width: 100%;
        resize: block;
        box-sizing: border-box;
    }
    .foldericon{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 68.6em; */
        margin: 1.6em auto;
        margin-bottom: 1em;
        max-width: fit-content;
        /* height: 25px; */
    }
    .storage{
        border-radius: 0 0 1rem 1rem;
    }
    .right{
        position: absolute;
        right: 26px;
        top: 137.3px;
        background-color: white;
        border-radius: 0.6em;
        padding: 0.7em;
    }
    .border{
        min-width: 0;
        color: black;
        position: absolute;
        bottom: 26.6px;
        right: 0;
        min-height: 0;
        border: 28.6px solid transparent;
        border-right: 25.4px solid white;
    }
    progress{
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .right{
        position: initial;
        text-align: center;
        margin-top: 10px;
    }
    .border{
        display: none;
    }
}